@model Site.Site.ViewModel.ChamadoInsertViewModel

@{
    ViewBag.Title = "Create";
}

<h2>AntiSqlInjection</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h2>', 0, 0, 0, 0);delete from chm_chamado; SELECT LAST_INSERT_ID() AS LASTID; --&nbsp;</h2>

    <fieldset>
        <legend>ChamadoInsertViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ComSqlInjection)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ComSqlInjection)
            @Html.ValidationMessageFor(model => model.ComSqlInjection)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
