
<h2>Index</h2>

<ul id="menu">
    <li>@Html.ActionLink("Login", "Login", "Redirect")</li>
    <li>@Html.ActionLink("LogOut", "LogOut", "Redirect")</li>
    <li>@Html.ActionLink("Details_Authorize", "Details", "Redirect")</li>
    <li>@Html.ActionLink("Create_Authorize", "Create", "Redirect")</li>
    @*<li>@Html.ActionLink("Edit", "Edit", "Redirect")</li>
    <li>@Html.ActionLink("Delete", "Delete", "Redirect")</li>*@
</ul>